<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Result:</h1>
    <div th:if="${user != null}">
        <p th:text="'username: ' + ${user.username}" />
        <p th:text="'first name: ' + ${user.firstName}" />
        <p th:text="'last name: ' + ${user.lastName}" />
        <p th:text="'mobile number: ' + ${user.mobileNumber}" />
    </div>
    <div th:if="${user == null}">
        <p>No results</p>
    </div>
    <a href="/">Back</a>
</body>
</html>